 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="">
    <img src="assets/Home_WhiteThick.png" width="50" height="50" alt="">
    Property Browser
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add Listing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/quote">Quick Quote</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input type="search"  #key="ngModel" ngModel (keydown.enter)="onSearchSubmitted($event.target.value)"   
           name="key" id="searchTerm" class="form-control mr-sm-2" placeholder="Search by city and state..." style="width: 300px;"> <!--(ngModelChange)="searchThis($event.target.value)" -->
          <a class="btn btn-info" (click)="onSearchSubmitted(key.value)">Search</a>
        </form>
      </li>
    </ul>

  </div>
</nav>


<router-outlet></router-outlet>


